{% extends 'base.html' %}

{% block title %}

	Home
	{% if request.session.user_id %}
	 	- Connected
 	{% else %}
 		 - Welcome Anonymous
 	{% endif %}


{% endblock %}

{% block body %}

	{% if request.session.user_id %}
			<h1>Connected</h1>
	
	
		<center>
		<form action="/logout" method="get">
		<input type='submit' value='Logout'>
		</form>
		</center>
		
		 <br/>
			
					<form method='GET'>
					<label for='search'> Search hashtag :</label>
					<input type='text' name='search' id='search'>
					<input type='submit' value='Search'>
					</form>
					
					<br/>
			
	
			{% for v in post %}
				
				    <p><strong> {{v.titre}} </strong></p></div>
				    <p> {{v.confession}}</p>
				
					<p> 
					<form method='GET'>
			        <label for='commentaire'>Commentaires: merci de respecter les courageux anonymes:</label><br/>
		            <textarea name="commentaire" cols="60" rows="2" placeholder= '...'></textarea>
		            </div>
		            <input type="hidden" name="postCom" value={{v.id}}></input>
					<input type="submit" value="Comment"></input>
		            </form>
					<form method= 'GET'>
					<input type="hidden" name="postLike" value={{v.id}}></input>
					<input type="submit" value="Like"></input>
					</form>
					<form method= 'GET'>
					<input type="hidden" name="postDislike" value={{v.id}}></input>
					<input type="submit" value="Dislike"></input>
					</form>
					</p>
					
			{% endfor %}
			       
			{% for f in resultats %}
			
				<p><strong> {{f.titre}} </strong></p></div>
				<p> {{f.confession}}</p>
				
				<p> 
					<form method='GET'>
			        <label for='commentaire'>Commentaires: merci de respecter les courageux anonymes:</label><br/>
		            <textarea name="commentaire" cols="60" rows="2" placeholder= '...'></textarea>
		            </div>
		            <input type="hidden" name="postCom" value={{f.id}}></input>
					<input type="submit" value="Comment"></input>
		            </form>
					<form method= 'GET'>
					<input type="hidden" name="postLike" value={{f.id}}></input>
					<input type="submit" value="Like"></input>
					</form>
					<form method= 'GET'>
					<input type="hidden" name="postDislike" value={{f.id}}></input>
					<input type="submit" value="Dislike"></input>
					</form>
					</p>
			
			{% endfor %}
	
	{% else %}
			
			
				<h>Anonymous</h1>

		<center>
		<form action="/login" method="get">
		<input type='submit' value='Login'>
		</form>
		</center>
		
		<form method='GET'>
			<label for='search'> Search hashtag :</label>
			<input type='text' name='search' id='search'>
			<input type='submit' value='Search'>
		</form>
	
			{% for v in post %}
				
				<p><strong> {{v.titre}} </strong></p></div>
				<p> {{v.confession}}</p>
				
					
			{% endfor %}
			
		
		
			<br/>
			
			{% for f in resultats %}
			
				<p><strong> {{f.titre}} </strong></p></div>
				<p> {{f.confession}}</p>
			
			{% endfor %}
			
	
	{% endif %}		    
			    
    
{% endblock %}	
