{% extends 'base.html' %}

{% block title %}

	Home
	{% if request.session.user_id %}
	 	- Connected
 	{% else %}
 		 - Welcome Anonymous
 	{% endif %}


{% endblock %}

{% block body %}



	{% if request.session.user_id %}
			<h1>Connected</h1>
	
	
		<center>
		<form action="/logout" method="get">
		<input type='submit' value='Logout'>
		</form>
		<form action="/publication" method="get">
		<input type='submit' value='Publier'>
		</form>
		</center>
		
		 <br/>
			
					<form method='GET'>
					<label for='search'> Search hashtag :</label>
					<input type='text' name='search' id='search'>
					<input type='submit' value='Search'>
					</form>
					
					<br/>
					
		{% if confessions|length == 0 %}
		<p> Y'a rien" </p>
		{% endif %}
									
			{% for v in post %}
					
				    <h2><strong> {{v.titre}} </strong></h2></div>
				    <fieldset><p> {{v.confession}}</fieldset></p>
				    <p><form method= 'GET'>
					<input type="hidden" name="postLike" value={{v.id}}></input>
					<input type="submit" value="Like {{v.publi_like.all|length}}"></input>
					</form>
				    <form method= 'GET'>
					<input type="hidden" name="postDislike" value={{v.id}}></input>
					<input type="submit" value="Dislike {{v.publi_dislike.all|length}}"></input>
					</form></p>
				    <p><strong> Commentaires </strong></p></div>
					    {% for m in v.publi.all %}
					    <fieldset><p><strong> {{m.auteur}} </strong>: {{m.comment}} </fieldset></p>
						
						{% endfor %}
						
						
					
				
					
				
					<p> 
					<form method='GET'>
		            <textarea name="commentaire" cols="60" rows="2" placeholder= 'Commentaires: merci de respecter les courageux anonymes'></textarea>
		            </div>
		            <input type="hidden" name="postCom" value={{v.id}}></input>
					<input type="submit" value="Comment"></input>
		            </form>
					
					
					</p>
					
			{% endfor %}
			       
			
			<form action="/home" method="get">
			<input type='submit' value='Home page'>
			</form>
	
	{% else %}
			
			
				<h>Anonymous</h1>

		<center>
		<form action="/login" method="get">
		<input type='submit' value='Login'>
		</form>
		<form action="/publication" method="get">
		<input type='submit' value='Publier'>
		</form>
		</center>
		
		<form method='GET'>
			<label for='search'> Search hashtag :</label>
			<input type='text' name='search' id='search'>
			<input type='submit' value='Search'>
		</form>
		
			
			
			{% if confessions|length == 0 %}
				<p> Y'a rien" </p>
			{% endif %}
	
			{% for v in post %}
				
				
				
				<h2><strong> {{v.titre}} </strong></h2></div>
				<fieldset><p> {{v.confession}}</fieldset></p>
				<p><strong> Commentaires </strong></p></div>
				    {% for m in v.publi.all %}
				    <fieldset><p><strong> {{m.auteur}} </strong>: {{m.comment}} </fieldset></p>
					{% endfor %}
				
					
			{% endfor %}
			
		
			
			<form action="/home" method="get">
			<input type='submit' value='Home page'>
			</form>
	
	{% endif %}		    
			    
    
{% endblock %}		
